<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    {% block styles %}
    <!-- Load Bootstrap-Flask CSS here -->
    {{ bootstrap.load_css() }}

    <!-- Link to the styles.css here to apply styling to all the child templates.-->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css')}}">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>

    <nav class="navbar navbar-dark navbar-expand justify-content-between fixed-top px-3">
    <a class="navbar-brand" href="/"><span id="logo">
    <img width="24" alt="LaptopFriendly" src="https://laptopfriendly.co/assets/logo/lf-white-64-5de912404ea117f6042353e04558a303900427e056c0af64c4e8c07e194bb24c.png">
    <span class="laptop">Laptop</span><span class="friendly">Friendly</span></span>
    </a><ul class="navbar-nav">
        <li class="nav-item">
        <a class="nav-link" href="https://www.google.com/maps?sca_esv=600539231&output=search&q=Toronto&source=lnms&entry=mc"><i class="fa fa-fw fa-globe-americas"></i>
        <span>Toronto</span>
        </a></li>
        <li class="nav-item">
        <a class="nav-link" href="{{ url_for('add_cafe') }}"><i class="fa fa-fw fa-plus-circle"></i>
        <span>Suggest Places</span>
        </a></li>

        <li class="nav-item">
        <a class="nav-link" href="{{ url_for('delete_cafe') }}"><i class="fa fa-fw fa-plus-circle"></i>
        <span>Report closure</span>
        </a></li>
        <!-- Join us -->
        <li class="nav-item">
        <a class="nav-link" href="/users/login"><i class="fa fa-fw fa-users"></i>
        <span>Join Community</span>
        </a></li>
    </ul>
</nav>

<div class="container">
  {% block content %}{% endblock %}
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-sFUG9s2uS/f9UQQ43bmN7Jd0pCTDkLyf73PyBU7oHxIbbV1o6Azrsr+51X+mmMRl" crossorigin="anonymous"></script>
  </body>
</html>
