{% extends 'base.html' %}
{% block title %}Restaurants{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h1>All Cafes</h1>

	  <table class="table table-custom table-striped table-hover">
          <thead>
          <tr>
            <th>Cafe Name</th>
            <th>Map URL</th>
            <th>WiFi</th>
            <th>Power rating</th>
            <th>Location</th>
            <th>Coffee Price</th>
          </tr>
        </thead>
          <tbody>
          {% for cafe in cafes %}
          <tr>
            <td>{{ cafe.name }}</td>
            <td>
              {% if cafe.map_url.startswith('http') %}
                <a href="{{ cafe.map_url }}">Maps Link</a>
              {% else %}
                {{ cafe.map_url }}
              {% endif %}
            </td>
            <td>{{ cafe.has_wifi }}</td>
            <td>{{ cafe.has_sockets }}</td>
            <td>{{ cafe.location }}</td>
            <td>{{ cafe.coffee_price }}</td>
          </tr>
          {% endfor %}
        </tbody>
  	  </table>

      <p><a href="{{ url_for('home' )}}">Return home</a></p>

    </div>
  </div>
</div>

{% endblock %}
